
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->

    <!-- Custom CSS -->
    <link href="simple_sidebar.css" rel="stylesheet">


    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Top Level Chess
                    </a>
                </li>

                <li id="beginner" class="level">
                    <div>Beginner</div>
                </li>

                <li id="advanced" class="level">
                    <div>Advanced</div>
                </li>

                <% @videos.each do |v| %>
                <li class="video-links">
                    <div id=<%=v.id%>><%= v.title %></div>
                </li>
                <% end %>

                <li id="home-text">
                    <div> Home Page</div>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->

        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="center-block">
                        <div id="hide-div">
                        <h1 class="launch-div">Top Level Chess</h1>
                        <br>
                        <div class="center-block">
                          <img  class="launch-div" src="top-level-chess-logo-xsmall.gif" alt="Mountain View">
                        </div>

                        </div>
                        <br>
                        <br>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>

                    </div>

                    <div id="video-view">

                    <div>
                </div>
            </div>
        </div>
      </div>
        <!-- /#page-content-wrapper -->

    </div>
  </div>

    <!-- /#wrapper -->


    <!-- Menu Toggle Script -->
    <script>


    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });


    function yolo(video_id){

      var mine = $.ajax({
         dataType: "json",
         url: "/videos/"+video_id+"/url",
         success: function(res) {
             console.log(res);
         },
         fail: function(res){
             console.log(res);
         }
     });

     mine.always(function(res){
       var fun = res;
       var url = fun.responseText;
       display_url(url);
     })

    }

    function display_url(url){
      $('#hide-div').empty();
      $("#video-view").empty();
      var foo = url;
      $("#video-view").append("<iframe width='560' height='315' src='" + foo +"' frameborder='0' allowfullscreen></iframe>")
    }

    $(".video-links").click(function(e) {
        // e.preventDefault();
        var att = $(this)
        var id = att.children().attr("id");
        yolo(id);
        console.log('hello');
    });

    $("#home-text").click(function(e){
      $('#hide-div').empty();
      $("#video-view").empty();
      $("#hide-div").append("<h1>Top Level Chess</h1> \
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis facilisis urna, in viverra mi. Nunc finibus erat luctus metus mattis scelerisque. Ut purus nunc, tempor nec dictum at, sollicitudin sit amet erat. In hac habitasse platea dictumst. Pellentesque vel nisi eu nunc tempor venenatis sit amet sit amet neque. Duis tincidunt lobortis ex. Pellentesque eleifend nunc a ante blandit, eget gravida nulla accumsan. Phasellus quis libero a nisl interdum elementum. Vivamus tincidunt quam sed nulla porttitor sodales. Duis non velit porttitor, consequat risus eu, semper magna. Cras viverra nisl ut lacus vehicula, vel ullamcorper dolor tristique. Etiam dictum varius mauris a viverra.</p> \
          <p>Vestibulum vel urna sed leo elementum vehicula ac a eros. Sed nibh mauris, porttitor nec ornare id, imperdiet nec nunc. Donec congue mattis pellentesque. Ut congue massa faucibus dictum suscipit. Maecenas lobortis pharetra odio. Mauris quis urna risus. Sed vehicula tellus ac blandit tempor. Nullam auctor velit in nulla pulvinar, sit amet mattis nunc dapibus. Integer et consequat mauris. Quisque consequat consequat lorem vitae blandit. Proin consectetur leo at turpis tempor, a sodales sapien maximus. Donec nec iaculis lectus. Nunc vitae malesuada arcu, ac faucibus lacus. Fusce a velit orci. Maecenas in mollis lacus.</p>");

    })

    $(".level").click(function(e){
      $('#hide-div').empty();
      $("#video-view").empty();
      var $id = "my-" + $(this).attr("id");
      $("#hide-div").append("<h3 id='"+$id+"' class='active-semester' >Semester 1<h3><h3>Semester 2</h3><h3>Semester 3</h3>");
      $(".active-semester").on("click", function(e){
        var $id = $(this).attr("id");
        console.log($id);
        append_videos($id, $(this).html());
      });
    });

    function append_videos(id, semester){
      if(id === "my-beginner" && semester === "Semester 1"){
        console.log("yolo");
      }
    }

    </script>

</body>
</html>
